env
.__pycache__
__pycache__/
__pycache__
*.py[cod]
*$py.class
*.png
# Flask stuff:
instance/
.webassets-cache
.db
images
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
