body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(112.5deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(157.5deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(135deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(90deg, rgb(192,192,192),rgb(192,192,192)); background-blend-mode:overlay,overlay,overlay,normal;
}

.nav-bar {
    position: absolute;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-bar a {
    color: black;
    text-decoration: none;
}

.nav-bar .logo-nav {
    font-size: 2em;
    font-weight: bold;
}

.logo-image {
    width: 100px;
    height: auto;
}

.nav-bar .nav-links ul{
    display: flex;   
}

.nav-bar .nav-links ul li{
    margin: 0 25px;
    list-style: none;
}

.nav-bar .nav-links ul li.active a{
    font-weight: 600;
}

main { 
    padding-top: 150px;
}

.container {
    padding-top: 350px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

.score {
    margin-bottom: 30px;
}

.score h1 {
    margin-top: 0;
    font-size: 32px;
    color: #4CAF50; /* Green */
}

.sub-scores h3 {
    margin-top: 0;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.container {
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#back-button:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Styles existants ici */

/* Styles pour les nouvelles colonnes */
.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column {
    width: 48%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour la colonne positive */
.positive-column {
    background-color: #e0ffe0;
}

.positive-column ul {
    list-style-type: none;
    padding: 0;
}

.positive-column ul li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #d4ffd4;
}

/* Style pour la colonne négative */
.negative-column {
    background-color: #ffe0e0;
}

.negative-column ul {
    list-style-type: none;
    padding: 0;
}

.negative-column ul li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #ffd4d4;
}

/* Style pour le conteneur du graphique */
.graph-container {
    padding: 20px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styles pour les titres des colonnes */
.column-title {
    background-color: #333; /* gris foncé */
    color: white;
    padding: 10px;
    margin: -20px -20px 10px -20px; /* Enlever la marge pour un alignement propre */
    border-radius: 8px 8px 0 0; /* Arrondir les coins du haut */
    text-align: center;
}
