body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(112.5deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(157.5deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(135deg, rgb(139,139,139) 0%, rgb(139,139,139) 10%,rgb(192,192,192) 10%, rgb(192,192,192) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157,157,157) 55%, rgb(157,157,157) 60%,rgb(186,185,185) 60%, rgb(186,185,185) 88%,rgb(166,166,166) 88%, rgb(166,166,166) 91%,rgb(139,139,139) 91%, rgb(139,139,139) 100%),linear-gradient(90deg, rgb(192,192,192),rgb(192,192,192)); background-blend-mode:overlay,overlay,overlay,normal;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

.score {
    margin-bottom: 30px;
}

.score h2 {
    margin-top: 0;
    font-size: 32px;
    color: #4CAF50; /* Green */
}

.sub-scores h3 {
    margin-top: 0;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.container {
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#back-button:hover {
    background-color: #0056b3;
}