<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos de ClassyPhishIA</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_site.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barre de navigation -->
    <nav class="nav-bar">
        <a href="/" class="logo-nav animate__animated animate__fadeInDown">
            <img src="{{ url_for('static', filename='logo_site.png') }}" class="logo-image">
        </a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/informations">Information</a></li>
            </ul>
        </div>
    </nav>

    <!-- Contenu principal -->
    <main>
        <div class="container main-content">
            <h1>À propos de ClassyPhishIA</h1>
            <p>Dans un monde dans lequel les technologies sont omniprésentes dans nos vies, il est important de mettre en œuvre tous les moyens nécessaires afin de pouvoir garantir la fiabilité et la sécurité de tous les appareils que nous utilisons. C’est aujourd’hui une priorité pour les professionnels et défenseurs travaillant dans la cybersécurité de pouvoir protéger les usagers ainsi que les entreprises et les gouvernements des nombreuses menaces qu’ils les guettent.</p>
            <p>Le phishing est une des premières principales menaces aujourd’hui en ligne d’après le rapport d’activité 2023 disponible sur cybermalveillance.gouv.fr</p>
            <p>Notre objectif principal dans ce projet est de fournir un outil qui proposera plusieurs fonctionnalités d’analyse essentielles pour déterminer un score de confiance du site et de dire quel site légitime est usurpé. Tout d’abord, il permettra à l’utilisateur de fournir un support de vérification d’une URL, en lui permettant d’insérer le lien d’un site qu’il juge potentiellement malveillant ou usurpateur. ClassyPhishIA se charge ensuite d’effectuer différents traitements sur cette URL et de réaliser un comparatif à l’aide d’une base de sites légitimes. L’utilisateur peut ensuite constater les résultats de l’analyse grâce aux différents scores et informations renvoyés.</p>
        </div>
    </main>
</body>
</html>
