<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil - Phishing</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles_home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur ClassyPhishIA</h1>
        <p>Les sites de phishing sont présents partout sur le web. Notre outils à pour but d'analyser et d'identifier le site officiel qui est usurpé.</p>
    </div>

    <div class="phishing-site">
    </div>

    <div id="phishing-form">
        <h2>Entrez le lien URL du site de phishing</h2>
        <form id="phishing-link-form" action="/" method="POST">
            <input type="text" name="phishing-link" placeholder="Entrez le lien URL ici">
            <button type="submit">Soumettre</button>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Mon Site Web. Tous droits réservés.</p>
    </div>
</footer>
</html>





