<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles_legal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_site.ico') }}">
    <title>Mentions Légales</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-nav animate__animated animate__fadeInDown">
                <img src="{{ url_for('static', filename='logo_site.png') }}" class="logo-image">
            </a>
            <div class="nav-links">
                <ul>
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="/stats">Stats</a></li>
                    <li><a href="/informations">Information</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Mentions Légales</h1>

        <h2>Éditeur du Site</h2>
        <p>ClassyPhishIA a été développé dans le cadre d'un projet de formation en Mastère Sécurité Informatique au Pôle Sup De la Salle</p>
        <p>Les parties-prenantes à ce projet ont été MatxVim, Madore & Nweg.</p>

        <h2>Hébergement</h2>
        <p>L'outil est hébergé sur Github, accessible à partir du lien suivant : https://github.com/Maths354/ClassyPhishIA.git</p>

        <h2>Contact</h2>
        <p>Pour contacter l’équipe de ClassyPhishIA, vous pouvez utiliser l'adresse mail suivant : classyphishia@gmail.com</p>

        <h2>Responsabilité des contenus</h2>
        <p>Les utilisateurs sont responsables du contenu scanné. ClassyPhishIA ne contrôle pas ces informations à priori et ne peut être tenu responsable de leur contenu tant qu’une demande de modération respectueuse de la loi ne soit réalisée.</p>

        <h2>Publications</h2>
        <p>Les informations publiées sur ClassyPhishIA sont open-source. En revanche, les droits sont réservés à l'équipe de ClassyPhishIA.</p>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top">▲ Remonter</button>

    <script>
        // Fonction pour faire défiler la page vers le haut
        document.getElementById('scrollToTopBtn').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>
