<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles_legal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_site.ico') }}">
    <title>Mentions Légales</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-nav animate__animated animate__fadeInDown">
                <img src="{{ url_for('static', filename='logo_site.png') }}" class="logo-image">
            </a>
            <div class="nav-links">
                <ul>
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="/stats">Stats</a></li>
                    <li><a href="/informations">Information</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Mentions Légales</h1>

        <h2>Éditeur du Site</h2>
        <p>ClassyPhishIA a été développé par ..., dans le cadre d'une formation en Mastère Sécurité Informatique au Pôle Sup De la Salle</p>
        <p>Les parties-prenantes à ce projet ont été Mathias PELTIER, Mathis GRANNEC et Gwendal SALAUN.</p>

        <h2>Hébergement</h2>
        <p>Le site est hébergé par HERETIC SAS.</p>

        <h2>Contact</h2>
        <p>Pour contacter l’équipe de Scamdoc, veuillez consulter notre section “Contact”. Les informations pour nous joindre y sont disponibles.</p>

        <h2>Responsabilité des contenus publiés</h2>
        <p>Les utilisateurs sont responsables du contenu qu’ils publient. Scamdoc ne contrôle pas ces informations à priori et ne peut être tenu responsable de leur contenu tant qu’une demande de modération respectueuse de la loi ne soit réalisée.</p>

        <h2>Gestion des contenus illicites</h2>
        <p>En cas de contenu illicite, contactez d’abord le ou les auteurs. Si aucune action n’est réalisée, vous pouvez demander la suppression du contenu à notre équipe, en respectant ce guide en phase avec la loi française.</p>

        <h2>Protection des Données Personnelles</h2>
        <p>Conformément au RGPD, Scamdoc protège les informations personnelles des utilisateurs. Seules les autorités judiciaires peuvent demander l’accès à ces informations. Vous disposez par ailleurs d’un droit d’accès, de modification et de suppression à vos propres informations : veuillez consulter pour cela notre section “Contact”.</p>

        <h2>Cookies et Données Privées</h2>
        <p>Nous utilisons des cookies pour améliorer l’expérience utilisateur, à des fins statistiques et de ciblage publicitaire. Votre consentement vous est demandé pour l’acceptation de ces cookies conformément à la législation.</p>
        <p>Nous stockons par ailleurs certaines données privées de nos utilisateurs : adresse email et l’adresse IP, conformément à la législation. Ces données sont utilisées pour l’authentification à certains de nos services, la lutte contre la fraude et les faux comptes sur notre plateforme.</p>
        <p>Ces données ne sont pas transmises à des tiers, sauf sur réquisition judiciaire.</p>

        <h2>Publications et Juridiction</h2>
        <p>Les informations publiées sur Scamdoc ne sont pas soumises à modération préalable. En cas de litige, la loi française est applicable et les tribunaux du ressort de la cour d’appel de Reims sont compétents.</p>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top">▲ Remonter</button>

    <script>
        // Fonction pour faire défiler la page vers le haut
        document.getElementById('scrollToTopBtn').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>
