<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse de site de phishing</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-nav animate__animated animate__fadeInDown">ClassyPhishIA</a>
            <div class="nav-links">
                <ul>
                    <li class="active"><a href="/">Acceuil</a></li>
                    <li><a href="/stats">Stats</a></li>
                    <li><a href="/informations">Information</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <div class="container">
        <h1>Informations sur l'analyse d'un site de phishing</h1>
        <h3>URL analysé : {% if phishing_link %} {{ phishing_link }} {% endif %} </h3>
        <div class="score">
            <h2>Similarité avec le site "Orange": {{ scores.resultModel * 100 }}% </h2>
        </div>
        <div class="sub-scores">
            <h3>Sous-scores d'analyse :</h3>
            <ul>
                <li>
                    <details>
                        <summary>Analyse URL : {{ scores.checkURL * 100 }}%</summary>
                        <ul>
                            <li>
                                <p style="color: red;">{{ datas.checkURL }}</p>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Analyse URL List : {{ scores.extractURL * 100 }}%</summary>
                        <ul>
                            <li>
                                <p style="color: red">{{ datas.extractURL }}</p>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Analyse logo : {{ scores.extractLogo * 100 }}%</summary>
                        <ul>
                            <li>
                                <p style="color: red">{{ datas.extractLogo }}</p>
                            </li>
                        </ul>
                    </details>
                </li>
		        <li>
                    <details>
                        <summary>Analyse mot-clé : {{ scores.extractKeyword * 100 }}%</summary>
                        <ul>
                            <li>
                                <p style="color: red">static html, insert data here</p>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Analyse certificat : {{ scores.extractCert * 100 }}%</summary>
                        <ul>
                            <li>
                                <p style="color: red">{{ datas.extractCert }}</p>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
            <p>TEST GRAPH</p><br>
            {{ barchart }}
        </div>
    </div>
    <footer>
        <p>© 2021 - All rights reserved</p>
    </footer>
</body>
</html>
