body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.phishing-site {
    background-color: #ccc;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}
p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}
.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.cta-button:hover {
    background-color: #0056b3;
}
#phishing-form {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#phishing-form h2 {
    color: #333;
}
#phishing-link {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#phishing-link::placeholder {
    color: #999;
}
#phishing-link:focus {
    outline: none;
    border-color: #007bff;
}
#phishing-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
#phishing-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}